.header
    padding-top: 8.6rem
    margin-bottom: 9.8rem
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: flex-end

.contacts-box
    display: flex
    flex-direction: column
    justify-content: flex-start
    &__phone-link
        display: block
        text-decoration: none
        color: $color-base
        font-size: 2.5rem
        font-family: "Open Sans", sans-serif
        text-align: center
        margin-bottom: 1rem
        letter-spacing: 0.02rem

.logo-main
    &__img
        display: block
        width: 26.4rem
        height: 4.9rem

@media (max-width: 428px)
    .logo-main
        &__img
            width: 13.5rem
            height: 2.5rem
    .header
        padding-top: 4.2rem
        margin-bottom: 4.1rem
    .contacts-box
        &__phone-link
            font-size: 1.6rem
            margin-bottom: 0.699rem
            letter-spacing: 0.0132rem
